#page-search { }
	#page-search .search-query { margin:-1px -1px 1px -1px; display:block; width:auto; }
		#page-search .search-query input { width:100%;padding: 0 73px 0 6px; box-sizing:border-box; height:30px; }
		#page-search .search-query button { position:absolute; right:0; z-index:1000; }
	#page-search .search-results { display:block; background-color:#fff; position:absolute; z-index:3000; width:100%; max-height:300px; margin:0; overflow:auto; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
	#page-search .search-results.stale { opacity:.5; }
		#page-search .search-results li { border-bottom: 1px solid #ebf7fc; }
			#page-search .search-results li em,
			#page-search .search-results li a { display:block; padding:5px 10px; }
			#page-search .search-results li a:focus,
			#page-search .search-results li a:hover { color:#fff; background-color: #18a0de; }
				#page-search .search-results li a .ico-custom { height:16px; width:16px; display:inline-block; vertical-align:middle; }

#page-tree a {color: #000;}
#page-tree { position: absolute; left:0; right:1px; top: 0; bottom: 0; overflow: auto; margin-top:33px;}
	#page-tree ul { list-style-type:none; padding:0; margin:0; }
		#page-tree li.node { margin-left: 10px; text-indent: 5px; line-height: 28px; }
			#page-tree li div.item { position:relative; white-space:nowrap; text-overflow: ellipsis; }
			#page-tree li div.item a.link { min-width: 60%; max-width:80%; overflow:hidden; padding-right:20px;text-decoration: none; }
            
            #page-tree li div.item a.link:hover, #page-tree li div.item a.link:focus {color: #005580; text-decoration: underline;}
				#page-tree li div.item a.link .page-icon { display: inline-block; width: 16px; height: 16px; vertical-align: text-bottom; background: transparent none no-repeat 0 0; }
				
				#page-tree li div.item .tags { position:absolute; right:55px; top: 0; display:none; font-size:12px; }
				#page-tree li div.item:hover .tags { display:block; }
					#page-tree li div.item .tags { opacity:.33; }

				#page-tree li div.item .tools { position:absolute; right:30px; top: 0; }
					#page-tree li div.item		 .tools .dropdown-toggle { opacity:0; color:#666; transition: opacity .5s ease-in-out; text-decoration:none; }
					#page-tree li div.item:hover .tools .dropdown-toggle { opacity:1; }
					#page-tree li div.item .tools .dropdown-menu { border-radius: 0; padding: 0; }
						#page-tree li div.item .tools .dropdown-menu li.divider { height:2px; }
							#page-tree li div.item .tools .dropdown-menu li a { padding:3px; }
							#page-tree li div.item .tools .dropdown-menu li a.iconed-text { padding-left:25px; background-position: 10px 50%;  background-repeat:no-repeat !important; color:#000 }

				#page-tree li div.item a.toggle { position:absolute; right:0; top:1px; padding-right:8px; }
				#page-tree li div.item a.toggle:hover { text-decoration:none; }
					#page-tree li div.item a.toggle b { display:none;text-decoration: none;}
					#page-tree li.collapsed > div.item > a.toggle .toggle-expand { display:inline-block; }
					#page-tree li.expanded > div.item > a.toggle .toggle-collapse { display:inline-block; }
					#page-tree li div.item.loading > a.toggle b { display:none !important; }
					#page-tree li div.item.loading > a.toggle .toggle-loading { display:inline-block !important; }
					#page-tree li .tree-pager { display:block; padding-left:20px; }
						#page-tree li .tree-pager b { float:right; margin:5px; }

			#page-tree li.root { margin-left: 0; }
				#page-tree li div.item.startpage a.link { font-weight: bold; }

				#page-tree li.root > ul > li { margin:0; }
					#page-tree li			 div.item { border-bottom: 1px solid #ebf7fc; }
						#page-tree li	     div.item		b.handle { background: #ebf7fc none no-repeat 2px 50%; display:inline-block; height:28px; width:5px; cursor:move; float:left; }
						#page-tree li	     div.item:hover b.handle { background-color: #d9f0f9; }
						#page-tree li	     div.item		b.handle:hover { transition: width ease-in-out 100ms; width:19px; background-image: url(../../Resources/Img/gripper.gif); }
						#page-tree li.root > div.item		b.handle { display:none; }
					#page-tree li.active   > div.item { background: #ebf7fc; }
						#page-tree li.active > div.item b.handle { background-color: #3aaee3; }

						#page-tree li.ui-sortable-helper > div.item b.handle { width:19px; }

						#page-tree li div.item.draft	   b.handle { background-color: #FFBB88; }
						#page-tree li div.item.draft:hover b.handle { background-color: #FF9966; }

						#page-tree li div.item.unpublished		 b.handle { background-color: #FF6600; }
						#page-tree li div.item.unpublished:hover b.handle { background-color: #EE3300; }
		
				.ui-sortable-helper .toggle,
				.ui-sortable-helper .tools { display:none !important; }
				.sortable-placeholder { border:dotted 1px #52D017; border-left:solid 5px #52D017; height:30px; margin-top:1px; margin-left:10px; }
				#page-tree ul.targettable.collapsed { padding:8px 0 4px 0; margin:-8px 0 -4px 0; }
				#page-tree ul.collapsed li { display:none; }
				#page-tree ul.collapsed li.sortable-placeholder { display:block; }
                #page-tree li > div.item:hover b.handle { background-color: #3aaee3; }
            #page-tree li > div.item:hover { background: #ebf7fc; }

#page-search form {
    float: left;
    width: 100%;
}
#page-search .search-query button {
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 1000;
}
#page-search .search-query button + button {
    right: 37px;
}
.input-append .add-on:last-child, .input-append .btn:last-child, .input-append .btn-group:last-child>.dropdown-toggle {
    -webkit-border-radius: 0 0px 0px 0;
    -moz-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
    margin-left: -1px;
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .btn-group>.dropdown-toggle {
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
}
input, button, select, textarea {
    font-family: 'Segoe UI', Helvetica,Sans-Serif;
}

#page-tree [class^="n2-icon-"], #page-tree[class*=" n2-icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
#page-tree [class^="n2-icon-"], #page-tree [class*=" n2-icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

#page-tree [class^="icon-"], #page-tree 
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../img/admin/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}
#page-tree .icon-chevron-up{background-position:-288px -120px;}

#page-tree.results > div {
    padding: 0;
}
#product-picker #page-tree li div.item b.handle,
#category-picker #page-tree li div.item b.handle {
    cursor: default;
}
#page-tree ul.searching div.item {
    display: none;
}
#page-tree ul.searching div.item.foundit {
    display: block;
}
#page-tree #no-results p {
    margin: 10px 0;
}
#selected-items-section {
    float: left;
    width: 100%;
}
#selected-items-section p {
    text-align: center;
}
#selectedResults .buttons {
    margin-top: 25px;
    padding-top: 15px;
    text-align: center;
    border-top: 1px solid #d2d2d2;
}
#selectedResults .buttons button + button {
    margin-left: 10px;
}