<?xml version="1.0" encoding="UTF-8"?>
<!-- This is stored in a separate file so that the installation wizard can write to this file without write access to web.config -->
<host rootID="1" startPageID="7" multipleSites="false">
 <web extension="" rewrite="BeginRequest" />
 <outputCache enabled="true" duration="60" slidingExpiration="01:00:00" />
 <resources jQueryPath="~/Scripts/jquery-2.1.1.min.js" />
 <vpp>
  <zips>
   <add filePath="~/N2/N2.zip" observedPath="~/N2/" name="n2.management" />
  </zips>
 </vpp>
</host>