<ul class="slides">
    <li id="slide-1" selectbi="" style="margin-right: -100%; float: left;
        width: 100%; display: list-item;">
        <div class="heroitem  light-foreground">
            <div class="media">
                <a href="http://clk.atdmt.com/MRT/go/439174651/direct/01/">
                    <div data-picture="" data-alt="Try Office 365 today." data-dissable-swap-below="" data-resolved="">
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Office365_HPKappaBG_0128_1600x540_EN_US.jpg">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Office365_HPKappaBG_0128_1024x346_EN_US.jpg" data-media="(max-device-pixel-width:1024px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Office365_HPKappaBG_0128_600x203_EN_US.jpg" data-media="(max-device-pixel-width:600px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Office365_HPKappaBG_0128_480x162_EN_US.jpg" data-media="(max-device-pixel-width:480px)">
                        </div>
                        <noscript>&lt;img src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Office365_HPKappaBG_0128_1600x540_EN_US.jpg" alt="Try Office 365 today." /&gt;</noscript>
                        <img alt="Try Office 365 today." src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Office365_HPKappaBG_0128_1600x540_EN_US.jpg" data-source-index="0"></div>
                    <script type="text/javascript">window.picturePolyfill.resolveLast();</script>
                </a>
            </div>
            <div class="text">
                <div class="text-container">
                    <div class="box" style="background: #E23300; color: #FFFFFF;">
                        <img class="box-img" src="//i.s-microsoft.com/global/ImageStore/PublishingImages/logos/hpfeature/hirez/Ofc365_RetLogo_500x60.png" alt="Try Office 365 today.">
                        <h3 class="box-title" style="color: #FFFFFF;">
                            Your complete office in the cloud</h3>
                        <ul class="box-actions box-description">
                            <li><a style="color: #FFFFFF;" href="http://clk.atdmt.com/MRT/go/439174651/direct/01/">Try Office 365 for home</a></li>
                            <li><a style="color: #FFFFFF;" href="http://clk.atdmt.com/MRT/go/437672201/direct/01/">Try Office 365 for business</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li id="slide-2" selectbi="" style="margin-right: -100%; float: left;
        width: 100%; display: none;">
        <div class="heroitem  light-foreground">
            <div class="media">
                <a href="http://clk.atdmt.com/MRT/go/431101865/direct/01/">
                    <div data-picture="" data-alt="Learn more about Surface Pro." data-dissable-swap-below="" data-defer="" data-resolved="">
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_1600x540_EN_US.jpg">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_1024x540_EN_US.jpg" data-media="(max-device-pixel-width:1024px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_600x203_EN_US.jpg" data-media="(max-device-pixel-width:600px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_480x162_EN_US.jpg" data-media="(max-device-pixel-width:480px)">
                        </div>
                        <noscript>&lt;img src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_1600x540_EN_US.jpg" alt="Learn more about Surface Pro." /&gt;</noscript>
                        <img alt="Learn more about Surface Pro." src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_1600x540_EN_US.jpg" data-source-index="0"></div>
                </a>
            </div>
            <div class="text">
                <div class="text-container">
                    <div class="box" style="background: #E23300; color: #FFFFFF;">
                        <img class="box-img" src="//i.s-microsoft.com/global/ImageStore/PublishingImages/logos/hpfeature/hirez/SurfacePro_2x_500x60.png" alt="Learn more about Surface Pro.">
                        <h3 class="box-title" style="color: #FFFFFF;">
                            A powerful PC in tablet form</h3>
                        <ul class="box-actions box-description">
                            <li><a style="color: #FFFFFF;" href="http://clk.atdmt.com/MRT/go/431101865/direct/01/">Learn more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li id="slide-3" selectbi="" style="margin-right: -100%; float: left;
        width: 100%; display: none;">
        <div class="heroitem  light-foreground">
            <div class="media">
                <a href="http://clk.atdmt.com/MRT/go/404082205/direct/01/">
                    <div data-picture="" data-alt="Find the Windows Phone that fits your style." data-dissable-swap-below="" data-defer="" data-resolved="">
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/WPbuy_BG_0225_1600x540_EN_US.jpg">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/WPbuy_BG_0225_1024x346_EN_US.jpg" data-media="(max-device-pixel-width:1024px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/WPbuy_BG_0225_600x203_EN_US.jpg" data-media="(max-device-pixel-width:600px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/WPbuy_BG_0225_480x162_EN_US.jpg" data-media="(max-device-pixel-width:480px)">
                        </div>
                        <noscript>&lt;img src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/WPbuy_BG_0225_1600x540_EN_US.jpg" alt="Find the Windows Phone that fits your style." /&gt;</noscript>
                        <img alt="Find the Windows Phone that fits your style." src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/WPbuy_BG_0225_1600x540_EN_US.jpg" data-source-index="0"></div>
                </a>
            </div>
            <div class="text">
                <div class="text-container">
                    <div class="box" style="background: #BA141A; color: #FFFFFF;">
                        <img class="box-img" src="//i.s-microsoft.com/global/ImageStore/PublishingImages/logos/hpfeature/hirez/WP_RetLogo_1112_500x60_EN_US.png" alt="Find the Windows Phone that fits your style.">
                        <h3 class="box-title" style="color: #FFFFFF;">
                            Beautifully designed, uniquely yours</h3>
                        <ul class="box-actions box-description">
                            <li><a style="color: #FFFFFF;" href="http://clk.atdmt.com/MRT/go/404082205/direct/01/">Meet yours</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li id="slide-4" selectbi="" style="margin-right: -100%; float: left;
        width: 100%; display: none;">
        <div class="heroitem  light-foreground">
            <div class="media">
                <a href="http://clk.atdmt.com/MRT/go/416132242/direct/01/">
                    <div data-picture="" data-alt="Get Windows 8 upgrade today." data-dissable-swap-below="" data-defer="" data-resolved="">
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Win8start_BG_1127_1600x540_EN_US.jpg">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Win8start_BG_1127_1024x346_EN_US.jpg" data-media="(max-device-pixel-width:1024px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Win8start_BG_1127_600x203_EN_US.jpg" data-media="(max-device-pixel-width:600px)">
                        </div>
                        <div data-src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Win8start_BG_1127_480x162_EN_US.jpg" data-media="(max-device-pixel-width:480px)">
                        </div>
                        <noscript>&lt;img src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Win8start_BG_1127_1600x540_EN_US.jpg" alt="Get Windows 8 upgrade today." /&gt;</noscript>
                        <img alt="Get Windows 8 upgrade today." src="//i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Win8start_BG_1127_1600x540_EN_US.jpg" data-source-index="0"></div>
                </a>
            </div>
            <div class="text">
                <div class="text-container">
                    <div class="box" style="background: #BA141A; color: #FFFFFF;">
                        <img class="box-img" src="//i.s-microsoft.com/global/ImageStore/PublishingImages/logos/hpfeature/hirez/Win8_RetLogo__1127_500x60_EN_US.png" alt="Get Windows 8 upgrade today.">
                        <h3 class="box-title" style="color: #FFFFFF;">
                            Perfect way to work and play</h3>
                        <ul class="box-actions box-description">
                            <li><a style="color: #FFFFFF;" href="http://clk.atdmt.com/MRT/go/416132242/direct/01/">Get the Windows 8 upgrade</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
